<!DOCTYPE html>
<html>
<head>
    <title> VERENXOVAIS - Cadastro de {{titulo}} </title>
    <link rel="stylesheet" href="../static/css/verenxovais.css">
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h3>Cadastro de {{titulo}}</h3>
        </div>
        <form action="/anuncio/criar" method="post">
            <div class="form-group">
                <label for="nome" class="form-label"> Nome </label> 
                <input type="text" class="form-control" id="nome" name="nome">
            </div>
            </br>
            <div class="form-group">
                <label for="descricao" class="form-label">Descrição</label> 
                <textarea class="form-control" rows="4" cols="100" id="descricao" name="descricao"></textarea></p> 
            </div>
            </br>

            <div class="form-group">
                <label for="data" class="form-label">Data do Anuncio</label> 
                <input type="date" class="form-control" id="data" name="data">
            </div>
            </br>

            <div class="form-group">
                <label for="quant" class="form-label">Quantidade</label> 
                <input type="number" class="form-control" id="quant" name="quant">
            </div>
            </br>
            <div class="form-group">
                <label for="valor" class="form-label">Valor</label> 
                <input type="number" step="0.01" class="form-control" id="valor" name="valor">
            </div>
            </br>
            <div class="form-group">
                <label for="situacao" class="form-label">Selecione a Situação</label>
                <select id="situacao" name="situacao" required>
                    <option value="Ativo">Ativo</option>
                    <option value="Vendido">Vendido</option>
                    <option value="Cancelado">Cancelado</option>
                </select>
            </div> 
            </br>
            
            <div class="form-group">
                <label for="id_us_prop_anuncio" class="form-label">Selecione Usuário Proprietário</label> 
                <select id="id_us_prop_anuncio" name="id_us_prop_anuncio">
                    {% for u in usuarios %}
                        <option value="{{ u.id_usuario }}">{{ u.nome }}</option>
                    {% endfor %}
                </select>
            </div>       
            </br>   

            <div class="form-group">
                <label for="id_cat" class="form-label">Selecione a Categoria</label> 
                <select id="id_cat" name="id_cat">
                    {% for c in categorias %}
                        <option value="{{ c.id_categoria }}">{{ c.descricao}} </option>
                    {% endfor %}    
                </select> 
            </div>
            </br>   
            
             <button class="btn btn-primary" type="submit" value="Cadastrar">Cadastrar</button>
            <button class="btn btn-secondary" type="reset" value="Limpar">Limpar</button>
            <button class="btn btn-primary" type="button" onclick="window.location.href='{{ url_for('index') }}'">Voltar</button>
            <br>
        </form>
        
    <div class="container">
        <div class="page-header">
            <h4>Lista de {{titulo}}</h4>    
        </div>

        <table class="table-striped table-responsive table-bordered">
            <thead class="thread-default">
                <tr>
                    <th> Código </th>
                    <th> Nome </th>
                    <th> Descrição </th>
                    <th> Data </th>
                    <th> Quantidade </th>
                    <th> Valor </th>
                    <th> Situação </th>
                    <th> Usuário_ID </th>
                    <th> Categoria_ID </th>
                    <th> Editar </th>
                    <th> Deletar </th>
                </tr>
            </thead>
            <tbody>
                {% for a in anuncios %}
                <tr>
                    <td>{{ a.id_anuncio }}</td>
                    <td>{{ a.nome }}</td>
                    <td>{{ a.descricao }}</td>
                    <td>{{ a.data }}</td>
                    <td>{{ a.quantidade }}</td>
                    <td>{{ a.valor }}</td>
                    <td>{{ a.situacao }}</td>
                    <td>{{ a.id_us_prop_anuncio }}</td>
                    <td>{{ a.id_cat }}</td>
                    <td><a href={{ url_for("editaranuncio", id_anuncio=a.id_anuncio) }}> Editar? </a></td>
                    <td><a href={{ url_for("excluiranuncio", id_anuncio=a.id_anuncio) }}> Deletar? </a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
    </div>
</body>
</html>
