<!DOCTYPE html>
<html>
<head>
    <title>Verenxovais - Editar Categoria</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/verenxovais.css') }}">
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h4>Alterar Categoria de Produtos</h4>
        </div>
        <form action="{{ url_for('atualizar_categoria', id_categoria=categoria.id_categoria) }}" method="post">
            <div class="form-group">    
                <label for="nome_categoria" class="form-label">Nome da Categoria</label>
                <input type="text" class="form-control" id="nome_categoria" name="nome_categoria" value="{{categoria.nome_categoria}}">
            </div>  
            <br>
            <button class="btn btn-success" type="submit">Salvar</button>
            <button class="btn btn-danger" type="button" onclick="window.location.href='{{ url_for('listar_categorias') }}'">Cancelar</button>
        </form>
    </div>  
</html>
